body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: black;

    margin:0px;
    padding:0px;

}


/** erreur ds "header div img"  =>     max-height: 12.5rem; */

/** Menu par Marc**/

ol, ul {
    list-style: none;
}
header div img{

    display: block;


    margin: 2rem auto 0;


}
.vague {
    display: block;
    top: -1rem;
    width: 100%;
    min-height: 10rem;
    position: relative;
    z-index: -1;
}
.vague_mobile {
    display: none;
}
.logo_aqualis {

    display: block;
    max-width: 30%;
    margin: -200px auto 0;
    z-index: 100;
}
nav li {
    width: 12rem;
}
.energy {
    position: relative;
    top: -3rem;
    margin: 0px auto 0;
    display: block;
    width: 100%;
}

.eco_conso {
    position: relative;
    top: -4.5rem;
    margin: 0px auto 0;
    display: block;
    width: 30%;
}
.popup_pret_outils {
    position: absolute;
    top: 1rem;
    left: 2rem;
    z-index: 100;
}
.ambassadeur {
    position: relative;
    top:-19rem;

}
.essai {
    position: relative;
    top: 5rem;
}
.ciel_bleu {
    margin: -650px auto 0;
    display: inline-block;
    width: 100%;
}

.main-navigation .bouton {
    width: 100%;
    background: none;
    color: #848484;
    font-size: 16px;

    border: none;
    outline: none;

    top: 10px;
    display: block; 
    z-index: 1;
    display: none;
}
.bouton {
    display: block;

    position:relative;
    text-align: center;
    margin-top: -7rem;
    z-index: 100; 
}




.main {
    position: relative;
    top: -1rem;

    text-align: center;
}

.main,
.main  ul {
    /*border-style: solid;
    border-color: #09699B;*/
    list-style-type: none ; 
    margin: 0px;
    padding: 0px;
}

.main  ul {
    display: none ;

}
.main li {
    text-align: center;
    display: inline-block ;
    position:   relative;
    z-index: 2;

}
.main li:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Couleur d'arriere-plan des menu au survol */ 
     
}
.main a {
    display: block ;
    width: auto;
    height: 2rem;
    line-height: 2rem;
    padding: 0.2rem 0.2rem;
    text-align: center;
    text-decoration: none;
}
.main li:hover ul {
    display: block ;
    position: absolute;
    top: 2rem;
    left: 0px;
    z-index: 100;
}
.main ul a {
    display: block;

}
.main li {
    background-color: none; /* Couleur d'arriere-plan du menu */
}

.acta {
    background-color: rgba(255, 255, 255, 0.5); 
}
.main li a {
    color: #ffffff; /* Couleur du texte du menu */
    font-size: 1.3rem;
}
.main li:hover a {
   /* color: #e45533;  Couleur du texte du menu au survol */
   color: whitesmoke;
   font-weight: bolder;
}
.main ul li {
    background-color: #ccc; /* Couleur d'arriere-plan des sous-menu */
}
.main ul li:hover {
    background-color: #F1F9FC;/* Couleur d'arriere-plan des sous-menu au survol */ 
}
.main ul li a {
    color: #666; /* Couleur du texte des sous-menu */
}
.main ul li:hover a {
    color: #f00 ; /* Couleur du texte des sous-menu au survol */
}


/** page ACCUEIL  Angelique **/
header, .nav-principal{
    max-width: 100%;
    margin: 0 auto;
}

.blue-font{
    color: #fff;
    padding: 5px 50px 0px 50px;
}
.petit{
    font-size: 1.5rem;
}
.moyen{
    font-size: 1.8rem;
}

.titre_faq {
      /* color: #09699B; */
      color: #1594aa;
      font-weight: 500;
}

.dis-none{
    display: none;
}
ul{
    text-decoration: none;
}
.blue-back{
    position: relative;
    top: -6rem;
    background-color: #F1F9FC;
    margin:  20px 30px;
    text-align: center;
    height : 95%;
}
    /** inutile pour l'instant 
.blue-back2{
    position: relative;
    top: -7rem;
    background-color: #F1F9FC;
    margin:  20px 50px;
    text-align: center;
    height : 95%;
}**/

.blue-back h1{
    font-size: 2.1rem;
}
.blue-back h3{
    margin-top: 1.3rem;
}
.rect_bleu {
    width: 100%;
    height: 3.8rem;
    color: #fff;
    background-color: #1594aa;
}

p{
    padding: 20px 10px;
    font-size: 1.2rem;
}
.contenu-pop h3{
    text-align: center;
}
.floatLeft{
    float:left;
    margin: 50px 10px;
    width: 57%; 
}
.p-14{
    font-size: 14px;
}
.clearFloat{
    clear:both;
}

.video-container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gras-900{
    font-weight: 900;
}
.gras-800{
    font-weight: 800;
}

.public-photo{
    width: 55%;
    margin: 0 auto;
}
.ambassadeur{
    margin-top: 45px;

}
.blue-goutte{
    color: #03318b;

}
.accueil_contenu {
    position: relative;

    top: 22rem;
    width: 30rem;

}

/** page "ACTIVITES" de Angelique **/
.activa {
    position: relative;
    top:-8rem;

}
.activa2 {
    position: relative;
    top:-1rem;

}
.blue-h1{
    color: #2094AB;
    text-align: center;
    margin-top: 2.3rem;
}

.active p{
    padding-left : 50px;
    padding-right: 50px;
}
.pad-top-30{
    padding-top: 30px;
}
.text-center{
    text-align: center;
}

/** page "Conseils" **/
.eau_gaz_elect {
    position: relative;
    top: -4rem;
}
.foire{
    position: relative;
    top: -8rem;
}
.margin-top{
    margin-top: -8rem;
}
.margin-bottom{
    margin-bottom: 1.8rem;
}

.energies{                       /* Icônes d'ENERGIES' */
    width: 4rem;
    height: 4rem;
    display: inline-block;
    color: #fff;
    border-radius: 1rem;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    margin-top: 1.5rem;
    transition: all 0.2s ease;
}
.tint{
    background-color: #03318b;
}
.tint:hover{
    color: #de5a39;
    background-color: inherit;
    font-size: 3rem;
}
.gripfire{
    background-color: #1894ac;
    
}
.gripfire:hover{
    color: #de5a39;
    background-color: inherit;
    font-size: 3rem;
}
.bolt{
    background-color: #de5a39;
}
.bolt:hover{
    color: #de5a39;
    background-color: inherit;
    font-size: 3rem;
}
                               /* FIN des ICONES d'énergie'*/
                               
.card-link{
    color: #fff;
    background-color: #1594aa;
    font-weight: bolder;
}
.card-header{
    background-color: #1594aa;
}


/** page Recommandations : Angélique **/

.docu1{
    position: relative;
    top: -4rem;
}



/** page "Contact" de Marc **/

img
{
    padding-bottom: 30px;
    width: 100%;
    height: auto;
}   
.googlemap
{
    width: 100%;
    height: 250px;
    padding: 1rem;
}
.titre_contact {
    color: #09699B; 
}
.contact {
    background-color: #F1F9FC; 
}

/** Page contact**/

.formul {
    position: relative;
    top: -5rem;
}


/** page essai a propos **/


                         /* ------------------  */

/** Footer de marc **/
footer {
    margin: 50px;
}

.bas_de_page {
    position: relative;
    top: -5rem;
    display: block;
    height: 8rem;
    width: auto;
    text-align: center;
    background: #F1F9FC;
    margin: 2rem auto 0;
}
.pub {
    position: relative;
    margin: 0px auto 0;
    display: inline-block;
}
@media screen and (max-width: 640px) {
    .main-navigation .bouton {
        display: block; 
    }
    .bouton {
        margin-top: -2rem;
    }
    .main {
        display: none;
    }
    .main-navigation .bouton {
        text-align: right;
        display: block;
    }
    .vague {
        display: none;
        top: -4rem;
        width: 100%;
        min-height: 10rem;
        position: relative;
        z-index: -1;
    }
    .vague_mobile {
        display: block;
        top: 2.5rem;
        width: 100%;
        min-height: 8rem;
        position: relative;
        z-index: -1;
    }
    .logo_aqualis {

        display: block;
        max-width: 50%;
        margin: -9.5rem auto 0;
        z-index: 100;
    }
    .blue-back {
        top: -5rem;
    }
    .energy {
        position: relative;
        top: 1rem;
        margin: 0px auto 0;
        display: inline-block;
        width: 100%;
        z-index: -1;
    }

    .machine {

        display: block;
        margin: -1rem auto 0;
        z-index: 100;
        width: 100%;

    }
    .popup1 {
        position: absolute;
        top: 0rem;
        left: 1rem;
        z-index: 100;
    }
    .ambassadeur {
        position: relative;
        top:-7rem;
    }
    .questions {
        position: absolute;
        top: 10rem;
        z-index: 10000;

    }
    .menus {
        display: inline-block;
        z-index: 100;
    }
}

/*fin de @media screen and (max-width: 640px) */





