body {

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: black;

    /*background-image: url(images/virement02.png) ;
    background-attachment:fixed;*/
    margin:0px;
    padding:0px;

}


/** Menu par Marc**/

ol, ul {
    list-style: none;
}
header div img{

    display: block;


    margin: 0 auto 0;


}
.vague {
    display: block;
    top: 1rem;
    width: 100%;
    min-height: 10rem;
    position: relative;
    z-index: -1;
}
.vague_mobile {
    display: none;
}
.logo_aqualis {
    position: relative;
    top: -10rem;
    display: block;
    max-width: 30%;
    margin: 0 auto 0;
    z-index: 100;
}

nav li {
    width: 12rem;
}
.energy {
    position: relative;
    top: -12rem;
    margin: 0px auto 0;
    display: block;
    width: 100%;
}

.eco_conso {
    position: relative;
    top: -18rem;
    margin: 0px auto 0;
    display: block;
    width: 40%;
}
.mdp_logo {
    position: relative;
    top: -40.5rem;
    width: 12rem;
    left: 8rem;

}
.popup_pret_outils {
    position: absolute;
    top: 1rem;
    left: 2rem;
    z-index: 100;
}
.ambassadeur {
    position: relative;
    top:-19rem;

}
.essai {
    position: relative;
    top: 5rem;
}
.ciel_bleu {
    margin: -650px auto 0;
    display: inline-block;
    width: 100%;
}

.main-navigation .bouton {
    width: 100%;
    background: none;
    color: #848484;
    font-size: 16px;

    border: none;
    outline: none;

    top: 10px;
    display: block; 
    z-index: 1;
    display: none;
}
.bouton {
    display: block;

    position:relative;
    text-align: center;
    margin-top: -7rem;
    z-index: 100; 
}




.main {
    position: relative;
    top: -10rem;

    text-align: center;
}

.main,
.main  ul {
    /*border-style: solid;
    border-color: #09699B;*/
    list-style-type: none ; 
    margin: 0px;
    padding: 0px;
}

.main  ul {
    display: none ;

}
.main li {
    text-align: center;
    display: inline-block ;
    position:   relative;
    z-index: 2;

}
.main li:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Couleur d'arriere-plan des menu au survol */ 

}
.main a {
    display: block ;
    width: auto;
    height: 2rem;
    line-height: 2rem;
    padding: 0.2rem 0.2rem;
    text-align: center;
    text-decoration: none;
}
.main li:hover ul {
    display: block ;
    position: absolute;
    top: 2rem;
    left: 0px;
    z-index: 100;
}
.main ul a {
    display: block;

}
.main li {
    /*background-color: ;  => Couleur d'arriere-plan du menu */
}

.acta {
    background-color: rgba(255, 255, 255, 0.5); 
}
.main li a {
    color: #ffffff; /* Couleur du texte du menu */
    font-size: 1.3rem;
}
.main li:hover a {
    /* color: #e45533;  Couleur du texte du menu au survol */
    color: whitesmoke;
    font-weight: bolder;
}
.main ul li {
    background-color: #ccc; /* Couleur d'arriere-plan des sous-menu */
}
.main ul li:hover {
    background-color: #F1F9FC;/* Couleur d'arriere-plan des sous-menu au survol */ 
}
.main ul li a {
    color: #666; /* Couleur du texte des sous-menu */
}
.main ul li:hover a {
    color: #f00 ; /* Couleur du texte des sous-menu au survol */
}


/** page ACCUEIL  Angelique **/
header, .nav-principal{
    max-width: 100%;
    margin: 0 auto;
}

.blue-font{
    color: #fff;
    padding: 5px 50px 0px 50px;
}
.petit{
    font-size: 1.5rem;
}
.moyen{
    font-size: 1.8rem;
}

.titre_faq {
    /* color: #09699B; */
    color: #1594aa;
    font-weight: 500;
}

.dis-none{
    display: none;
}
ul{
    text-decoration: none;
}
.blue-back{
    position: relative;
    top: -16rem;
    background-color: #F1F9FC;
    margin:  20px 50px;
    text-align: justify;
    height : 95%;
    padding-left: 5px;
    padding-right: 5px;
}

.blue-back2{
    position: relative;
    top: -18rem;
    background-color: #F1F9FC;
    margin:  20px 50px;
    text-align: center;
    height : 95%;
}
.blue-back3{
    position: relative;
    top: -15rem;
    background-color: #F1F9FC;
    margin:  20px 50px;
    text-align: center;
    height : 95%;
}
.blue-back5 {
    position: relative;
    top: -5rem;
    background-color: #F1F9FC;
    margin:  20px 50px;
    text-align: justify;
    height : 80%;
    padding-left: 5px;
    padding-right: 5px;
}
.blue-back h1{
    font-size: 2.1rem;
}
.blue-back h3{
    margin-top: 1.3rem;
}
.rect_bleu {
    width: 100%;
    height: 3.8rem;
    color: #fff;
    background-color: #1594aa;
}

p{
    padding: 10px 10px;
    font-size: 1.2rem;
}
.contenu-pop h3{
    text-align: center;
}
.floatLeft{
    float:left;
    margin: 10px 10px;
    width: 57%; 
}
.p-14{
    font-size: 14px;
}
.clearFloat{
    clear:both;
}

.video-container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-top: 1.9rem;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gras-900{
    font-weight: 900;
}
.gras-800{
    font-weight: 800;
}

.public-photo{
    width: 30%;
    margin: 0 auto;
}
.public-photo img{
    padding-bottom: 0;

}
.ambassadeur{
    margin-top: 45px;

}
.blue-goutte{
    color: #03318b;

}
.accueil_contenu {
    position: relative;

    top: 22rem;
    width: 30rem;

}
.possiblesPt{
    height: 10rem;
    width: 17rem;
    margin: 0 auto;
}

/** page "ACTIVITES" de Angelique **/
.activa {
    position: relative;
    top:-18rem;
    background-color: #F1F9FC;

    text-align: center;
    height : 75%;
}
.activa2 {
    position: relative;
    top:-1rem;

}
.blue-h1{
    color: #2094AB;
    text-align: center;
    margin-top: 2.3rem;
}

.active p{
    padding-left : 50px;
    padding-right: 50px;
}
.pad-top-30{
    padding-top: 30px;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
    padding-left: 5px;
}
.pad-right-5{
    padding-right: 5px;
}
.pad-right-10{
    padding-right: 10px;
}
.img-300{
    height: 15rem;
    width: 15rem;
    padding: 1rem;
    display: flex;
    margin-left: 6rem;
    border: 1px solid transparent;
}
.img-450{
    height: 22.5rem;
    width: 22.5rem;
    margin: 0 auto;
}
.blue-back p{
    margin-bottom: 0;
}

/** page "Conseils" **/
.eau_gaz_elect {
    position: relative;
    top: 2rem;
}
.foire{
    position: relative;
    top: -10rem;
}
.foire2{
    position: relative;
    top: -20rem;
}
.margin-top{
    margin-top: -8rem;
}
.margin-bottom{
    margin-bottom: 1.8rem;
}

.energies{                       /* Icones d'ENERGIES' */
    width: 4rem;
    height: 4rem;
    display: inline-block;
    color: #fff;
    border-radius: 1rem;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    margin-top: 1.5rem;
    transition: all 0.2s ease;
}
.tint{
    background-color: #0000FF;
}

.tint:hover{
    color: #de5a39;
    background-color: inherit;
    font-size: 3rem;
}

.thermometer{
    background-color: #1894ac;

}
.thermometer:hover{
    color: #de5a39;
    background-color: inherit;
    font-size: 3rem;
}
.bolt{
    background-color: #de5a39;
}
.bolt:hover{
    color: #de5a39;
    background-color: inherit;
    font-size: 3rem;
}
<<<<<<< HEAD

=======
.centra {
    text-align: justify;
    padding: 10px;
}
/*Peculiar was created by Lucian Marin -lucianmarin.com
Licensed under GPL
*/
>>>>>>> 6459d7efb1b06083658eabc9159128c3edd917d5
.icon {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 16px;
}

.icon .name {
    width: 32px;
    position: absolute;
    text-align: center;
    top: 18px;
    left: -8px;
}

.icon-temp-circle {
    background-color: #000;
    width: 6px;
    height: 6px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    bottom: 1px;
    left: 5px;
}

.icon-temp-line {
    border: #000 1px solid;
    width: 2px;
    height: 10px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    top: 1px;
    left: 6px;
}

/* FIN des ICONES d'energie'*/

.card-link{
    color: #fff;
    background-color: #1594aa;
    font-weight: bolder;
}
.card-header{
    background-color: #1594aa;
}


/** page Recommandations : Angelique **/

.pad-bottom-50{
    padding-bottom: 50px;
}
.docu1{
    position: relative;
    top: -8rem;
}
/* page outils */



/** page "Contact"  Marc & Angelique **/

img
{
    
    width: 100%;
    height: auto;
}   
.googlemap
{
    position: relative;
    top:-rem;
    width: 100%;
    height: 30rem;

    margin-bottom: 2rem;
}
.titre_contact {
    color: #09699B; 
    padding-top: 1.3rem;
    padding-bottom: 0.3rem;
}
.contact {
    background-color: #F1F9FC; 
    margin-bottom: 2rem;
    padding-left: 7px;
    margin-left: 16px;
}
.blue1{
    color:#09699B;
}
<<<<<<< HEAD
.orange{
    color: #cc6633;
=======
.blue2 {
    position: relative;
    color:#09699B;
    top: -6rem;
>>>>>>> 6459d7efb1b06083658eabc9159128c3edd917d5
}

.formul {
    position: relative;
    top: -12rem;
}
.form-group label{
    margin-top: 1.5rem;
}
.contact form{
    padding-bottom: 2rem;
}
.nous2 {
    position: relative;
    top:1rem;
}
.nous {
    width: 4rem;
    height: 4.2rem;
}
.emphase{
    font-style: italic;
}
.hauttr th{
    max-height: 4rem;
}

/** page essai a propos **/


/* ------------------  */

/** Footer de marc **/
footer {
    margin: 50px;
}

.bas_de_page {
    position: relative;
    top: -15rem;
    display: block;
    height: 8rem;
    width: auto;
    text-align: center;
    background: #F1F9FC;
    margin: 2rem auto 0;
}
.pub {
    position: relative;
    margin: 0px auto 0;
    display: inline-block;
}
.pub_mobile {
    display:  none;
}

/* debut class boutons sociaux */
.social {
    display: block;
    position: relative;
    left: 60rem;

    top: -18rem;
    z-index: 100; 

}
.social_media ul{
    position: absolute;
    /* top: 50%; */
    left: 20%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;

}
.social_media ul li{
    list-style: none;
    margin: 0 40px;

}
.social_media ul li .fa{
    font-size: 40px;
    color: #262626;
    line-height: 60px; /* modifier taille bouton (1/4) */
    transition: .5s;

}
.social_media ul li a{
    position: relative;
    display: block;
    width: 60px; /* modifier taille bouton (2/4) */
    height: 60px; /* modifier taille bouton (3/4) */
    background-color: #fff;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}
.social_media ul li a::before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}
.social_media ul li a::after{
    content: "";
    position: absolute;
    top: 60px; /* modifier taille bouton (4/4) */
    left: -11px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}
.social_media ul li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
.social_media ul li:hover .fa{
    color: #fff;
}
.social_media ul li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
.social_media ul li:hover:nth-child(1) a{
    background: #3b5999;
}

.social_media ul li:hover:nth-child(1) a:before{
    background: #2e4a86;
}
.social_media ul li:hover:nth-child(1) a:after{
    background: #4a69ad;
}
.social_media ul li:hover:nth-child(2) a{
    background: #55acee;
}
.social_media ul li:hover:nth-child(2) a:before{
    background: #4184b7;
}
.social_media ul li:hover:nth-child(2) a:after{
    background: #4d9fde;
}
.social_media ul li:hover:nth-child(3) a{
    background: #dd4b39;
}

.social_media ul li:hover:nth-child(3) a:before{
    background: #c13929;
}
.social_media ul li:hover:nth-child(3) a:after{
    background: #e83322;
}

.social_media ul li:hover:nth-child(4) a{
    background: #0077B5;
}

.social_media ul li:hover:nth-child(4) a:before{
    background: #036aa0;
}
.social_media ul li:hover:nth-child(4) a:after{
    background: #0d82bf;
}

.social_media ul li:hover:nth-child(5) a{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

.social_media ul li:hover:nth-child(5) a:before{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}
.social_media ul li:hover:nth-child(5) a:after{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}
/* fin class boutons sociaux */
.acta {
    background-color: rgba(255, 255, 255, 0.5); 
}
@media screen and (max-width: 640px) {
    .main-navigation .bouton {
        display: block; 

    }
    .bouton {
        margin-top: -2rem;
    }
    .main {
        top: 3.5rem;
        display: none;

    }
    .main-navigation .bouton {
        text-align: right;
        display: block;
    }
    .main li:hover {
        background-color: rgba(255, 255, 255, 0.3); /* Couleur d'arriere-plan des menu au survol */ 
    }
    .main li {
        /*   background-color: ; /* => Couleur d'arriere-plan du menu */
    }
    .main li a {
        color: #09699B; ; /* Couleur du texte du menu */
        font-size: 1.3rem;
        z-index: 100
    }
    .main li:hover a {
        /* color: #e45533;  Couleur du texte du menu au survol */
        color: #09699B; 
        font-weight: bolder;
        z-index: 100
    }
    .main ul li {
        background-color: #ccc; /* Couleur d'arriere-plan des sous-menu */
    }
    .main ul li:hover {
        background-color: #F1F9FC;/* Couleur d'arriere-plan des sous-menu au survol */ 

    }
    .main ul li a {
        color: #666; /* Couleur du texte des sous-menu */
    }
    .main ul li:hover a {
        color: #f00 ; /* Couleur du texte des sous-menu au survol */
    }

    .acta {
        background-color: rgba(9, 105, 155, 0.2); 
    }

    .vague {
        display: none;
        top: -4rem;
        width: 100%;
        min-height: 10rem;
        position: relative;
        z-index: -1;
    }
    .vague_mobile {
        display: block;
        top: 5rem;
        width: 100%;
        min-height: 8rem;
        position: relative;
        z-index: -1;
    }
    .logo_aqualis {

        display: block;
        max-width: 50%;
        margin: -9.5rem auto 0;
        z-index: 100;
    }
    .blue-back {
        top: -6rem;
        margin:  20px 0px;
    }
    .blue-back2 {
        top: -6rem;
        height : 100%;
        width: 100%;
        margin: 0 0;
    }
    .blue-back3 {
        top: 1rem;
    }
    .blue-back4 {
        position: relative;
        display: block;
        /* top: -16rem; */
        background-color: #F1F9FC;

        text-align: center;

        width: 100%;
    }
    .blue-back5 {
        position: relative;
        top:10rem;
        width: 100%;
        background-color: #F1F9FC;
        margin:  0px 0px;
        text-align: center;
        height : 95%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .blue-h1 {
        font-size: 1.5rem;
    }
    .foire {
        top: -3rem;
    }
    .foire2{

    top: -3rem;
    }
    .petit{
        font-size: 1rem;
    }
    .moyen{
        font-size: 1.3rem;
    }
    .eco_conso {
        top: -5rem;
        width: 80%;
    }
    .energy {
        position: relative;
        top: 3.5rem;
        margin: 0px auto 0;
        display: inline-block;
        width: 100%;
        z-index: -1;
    }

    .machine {

        display: block;
        margin: -1rem auto 0;
        z-index: 100;
        width: 100%;

    }
    .popup1 {
        position: absolute;
        top: 0rem;
        left: 1rem;
        z-index: 100;
    }
    .ambassadeur {
        position: relative;
        top:-7rem;
    }
    .questions {
        position: absolute;
        top: 10rem;
        z-index: 10000;

    }
    .menus {
        display: inline-block;
        z-index: 100;
    }
    .formul {

        top: 1rem;
    }
    .bas_de_page {
        top: -1rem;
        padding: 0 ;
    }
    .pub {
        display: none;
    }
    .pub2 {
        position: relative;
        margin: 0px auto 0;
        display: block
    }
    .pub_mobile {
        display: block;
    }
    .activa {
        top:-6rem;
        height : 90%;
    }
    .centra {
        text-align: center;
        padding: 0;
    }
    .img-300 {
        height: 12rem;
        width: 12rem;
        margin-left: -0.5rem;
        background-size: cover;
    }
    .img-450 {
        height: 20rem;
        width: 20rem;
        margin-left: 0.5rem;
        background-size: cover;
    }

}

/*fin de @media screen and (max-width: 640px) */





